.git
.idea
.vscode
cache/*
upload/*
!upload/index.html
tests/
custom/backup/
custom/history/
node_modules/
bower_components/
.env
.env.*
.dockerignore
docker-compose.yml
Dockerfile
*.log
*.zip
*.tar.gz
!auto_install/*.zip

config.php
config_override.php
